# To ignore all compiled binaries (no file extension), we ignore everything,
# then unignore anything with an extension and directories.
*
!*.*
!*/
!Makefile

# Other ignores:
*.o
*.d
*.ko
*.so
*.log
*.img
kernel_module/build/*
kernel_module/test_suite/build/*
dependencies/*

# perf reports
*.data
*.data.old